.clear {
    
background: url(https://image.freepik.com/free-photo/blue-sky-with-cloud-clean-energy-power-clear-weather-background_43284-844.jpg) no-repeat center fixed;
background-size: cover;
}

.clouds {
    background: url(https://png.pngtree.com/thumb_back/fw800/20151013/pngtree-Sky-Atmosphere-Clouds-Weather-background-photo-239525.jpg) no-repeat center fixed;
    background-size: cover;

}

.rain {
    background: url(https://ak2.picdn.net/shutterstock/videos/6968032/thumb/1.jpg) no-repeat center fixed;
    background-size: cover;
}

.snow {
    background: url(https://comps.canstockphoto.com/winter-blur-background-stock-images_csp54843853.jpg) no-repeat center fixed;
    background-size: cover;
}

.mist {
    background: url(mist.png) no-repeat center fixed;
    background-size: cover;
}

.haze{
    background: url(mist.png) no-repeat center fixed;
    background-size: cover;
}

.drizzle {
    background: url(drizzle.png) no-repeat center fixed;
    background-size: cover;
}

body {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    height: 98.3vh;
}

h1 {
    font-size: 3em;
    position: relative;
    min-height: 1.1em;
    box-shadow: 0 0 15px 8px rgba(255, 255, 255, .2);
}

i.wi {
    font-size: 5em;
    line-height: 1.5em;
}

h2 {
    font-size: 2em;
}

#tooltip {
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 10px;
    color: #fff;
    background-color: #222;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
    transition: opacity .3s, top .5s;
}

#IconEtTemp {
    box-shadow: 0 0 15px 8px rgba(255, 255, 255, .2);
    padding: 20px 20px 10px 20px;
}

h1:hover #tooltip {
    top: -50px;
    opacity: 1;

}


txhumide {

    font-size: 12px;
    color: white;
}


vitesse {
    font-size: 12px;
    color: white;
}

#app {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
}
*#app i {
    font-size: 250px;
}


#titrePrevisions {
    margin-top: 80px;
    text-decoration: underline;
}

#previsions {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;    
}

#container_previsions {
    box-shadow: 0 0 15px 8px rgba(255, 255, 255, .2);
}

#previsions div i {
    font-size: 50px;
}

.tempPrevisions {
    font-size: 25px;
}

#DateJour {
    font-size: 25px;
}











@media screen and (max-width: 1280px) {

    body {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        background-size: cover;
        background-repeat: repeat;
    }

    h1 {
        font-size: 3em;
        position: relative;
    }

    i.wi {
        font-size: 5em;
        line-height: 1.5em;
    }

    h2 {
        font-size: 2em;
    }

    #tooltip {
        opacity: 0;
        position: absolute;
        top: 0px;
        width: 150px;
        left: 170px;
        color: #fff;
        background-color: #222;
        border-radius: 5px;
        padding: 10px;
        font-size: 12px;
        transition: opacity .3s, top .5s;
    }

    h1:hover #tooltip {
        top: -0px opacity 1;

    }
    #meteoActu i {
        font-size: 150px;
    }

    #txhumide {
        font-size: 12px;
        color: white;
    }

    #vitesse {
        font-size: 12px;
        color: white;
    }

    #app {
        display: block;
        justify-content: space-around
    }

    #fonctionSup {
        margin-top: auto;
        margin-bottom: auto;
    }

    #titrePrevisions {
        margin-top: 50px;
        text-decoration: underline;
    }

    #previsions {
        margin-top: 30px;
        display: block;
        margin: auto;
    }

    .tempPrevisions {
        font-size: 30px;
        margin-top: 50px;
    }

    #previsions div i {
        font-size: 100px;
    }




}

